<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="javascript:void(0);" class="brand-logo center">Chat</a>
            <ul class="left">
                <li>
                    <a target="_blank" href="https://github.com/lexa0303/Chat">Github</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <% if (user) { %>
                        <a id="logout" href="/logout">Выйти</a>
                    <% } else { %>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>
