<% layout('./layout/main') -%>

<style>
    .stickers_wrap {
        opacity: 0;
    }
</style>

<main class="main">
    <div class="container">
        <div class="row">
            <ul class="collection" id="messages"></ul>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="progress" id="history_loader">
        <div class="indeterminate"></div>
    </div>
    <div class="container">
        <div class="row">
            <form action="" id="message_form">
                <div class="col s12">
                    <div class="input-field col s12">
                        <input class="validate" required type="text" name="message" id="message">
                        <label for="message">Message</label>
                    </div>
                    <div class="col m2 s4">
                        <button class="btn" type="submit">Send
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col m10 s8">
                        <div class="stickers_wrap">
                            <% for (var i in emoji){
                                if (emoji.hasOwnProperty(i)){%>
                                <a class="sticker js-emoji"
                                   data-value="<%=emoji[i]%>"
                                   href="javascript:void(0);"><%=emoji[i]%></a>
                                <%}
                            }%>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</footer>
<script src="/js/chat.js"></script>