footer{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    background: #ffffff;
    z-index: 10;
    min-height: 140px;
    border-top: 1px solid #e0e0e0;
}
header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    height: 65px;
}
main{
    z-index: 1;
    padding-bottom: 150px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#message_form{
    padding-top: 10px;
}
.collection-item.date{
    text-align: center;
    background-color: lightgray;
}
.collection-item.date:first-letter {
    text-transform: capitalize;
}
#history_loader{
    margin:0;
    display:none;
}
.sticker{
    display: inline-block;
}
.stickers_wrap{
    height: 100px;
    overflow-y: scroll;
}
.emoji-inner{
    pointer-events: none;
}
.emoji-outer{
    pointer-events: none;
}
.side-nav .userView{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}
.side-nav {
    width: 250px;
}